TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
ANTHROPIC_API_KEY=
WORDPRESS_URL=https://gadget-gekiyasu.com
WORDPRESS_USERNAME=gadget_admin
WORDPRESS_PASSWORD=
AMAZON_ASSOCIATE_TAG=gadgetgekiyas-22
